name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install backend dependencies
        working-directory: ../miam-miam-backend
        run: npm ci

      - name: Start backend
        working-directory: ../miam-miam-backend
        run: npm run start:dev &
      
      - name: Wait for backend
        run: npx wait-on http://localhost:4500

      - name: Install frontend dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Start frontend
        run: npm run dev &
      
      - name: Wait for frontend
        run: npx wait-on http://localhost:3000/miam-miam-frontend/

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
